.tile-border {
    background: #b1b1b1;
    border-color: #b1b1b1;
}
.tile-Start {
    background: #FF0000;
    border-color: #FF0000;
}
.tile-Space {
    background: #003170;
    border-color: #003170;
}
.tile-Titanium {
    background: #a64600;
    border-color: #a64600;
}
.tile-Energy {
    background: #dab300;
    border-color: #dab300;
}
.tile-EnergyPortal {
    background: #70004d;
    border-color: #70004d;
}
.tile-NeatlyOrganizedSpace {
    background: #147200;
    border-color: #147200;
}

.player-0 {
    background: #83bfff;
    border-color: #83bfff;
}
.player-1 {
    background: #79ff7d;
    border-color: #79ff7d;
}
.player-2 {
    background: #ee83ff;
    border-color: #ee83ff;
}
.player-3 {
    background: #ffd483;
    border-color: #ffd483;
}

.clickable {
    cursor: pointer;
}

.tile-board-outer {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid red;
    overflow: hidden;
}
.tile-board-scaling {
    position: relative;
    width: 100%;
    height: 100%;
}
.tile-board-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
}

.tile-top {
    width: 0;
    border-bottom-width: 30px;
    border-bottom-style: solid;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    background: transparent;
}
.tile-bottom {
    width: 0;
    border-top-width: 30px;
    border-top-style: solid;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    background: transparent;
}
.tile-middle {
    width: 104px;
    height: 60px;
    text-align: center;
}

.tile-owner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 20px;
}

.ship-wrapper {
    display: flex;
    transform-origin: 15px 10px;
}
.ship-middle {
    width: 30px;
    height: 20px;
}
.ship-front {
    height: 0;
    border-left-width: 16px;
    border-left-style: solid;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    background: transparent;
}

.card-list {
    height: 70px;
    background: #eaeaea;
    border: 1px solid black;
    display: flex;
}

.card {
    width: 150px;
    height: 70px;
    border: 1px solid green;
}

.card-header {
    display: flex;
    justify-content: space-between;
}