.board-root {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000921;
}
.board-gameinfo {
    position: absolute;
    left: 0;
    top: 0;
    background: #f0f8ff;
    padding: 5px 20px;
}
.board-gamename {
    font-size: xx-large;
    font-weight: lighter;
}
.board-playername {
    margin-top: 10px;
    text-align: right;
}
.board-entropy {
    position: absolute;
    top: 0;
    left: 50%;
    width: 200px;
    padding: 5px;
    background: #f0f8ff;
    font-size: xx-large;
    text-align: center;
    margin-left: -100px;
}
.board-scores {
    position: absolute;
    top: 0;
    right: 0;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.board-scores-starting-player {
    padding: 3px 3px 3px 10px;
}
.board-scores-score {
    width: 50px;
    text-align: right;
    padding: 3px 10px 3px 2px;
}
.board-scores-energy {
    width: 70px;
    text-align: right;
}
.board-winner {
    position: absolute;
    left: 50%;
    top: 25%;
    width: 300px;
    margin-left: -150px;
    background: #f0f8ff;
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
    font-size: xx-large;
}

.clickable {
    cursor: pointer;
}

.tile-board-outer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 150px;
    overflow: hidden;
}
.tile-board-scaling {
    position: relative;
    width: 100%;
    height: 100%;
}
.tile-board-inner {
    position: absolute;
    left: 50%;
    top: 50%;
}

.tile-top {
    width: 0;
    border-bottom-width: 30px;
    border-bottom-style: solid;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    background: transparent;
}
.tile-bottom {
    width: 0;
    border-top-width: 30px;
    border-top-style: solid;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    background: transparent;
}
.tile-middle {
    position: relative;
    width: 104px;
    height: 60px;
    text-align: center;
}

.tile-owner {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5px;
}

.ship-wrapper {
    display: flex;
    transform-origin: 15px 10px;
}
.ship-middle {
    width: 30px;
    height: 20px;
    text-align: center;
}
.ship-front {
    height: 0;
    border-left-width: 16px;
    border-left-style: solid;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    background: transparent;
}

.card-list {
    position: absolute;
    height: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #071331;
    display: flex;
    padding: 5px 5px;
    overflow: auto;
}
.card {
    width: 70px;
    height: 50px;
    background: #f0f8ff;
    border-radius: 5px;
    margin: 5px 5px;
    flex-shrink: 0;
}
.card-played {
    background: #d2ffc8;
}
.card-discarded {
    background: #ffe5ec;
}
.card-hidden {
    background: #656e77;
}
.card-header {
    display: flex;
    justify-content: space-between;
    padding: 2px 2px;
}
.card-flavor {
    text-align: center;
}
.card-ship-buttons button {
    font-size: xx-small;
    padding: 2px 3px;
}

.tile-preview {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 150px;
    height: 170px;
    background: #f0f8ff;
}
.tile-preview-title {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

.ship-preview {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 150px;
    height: 150px;
    background: #f0f8ff;
}
.ship-preview-rotate {
    width: 40px;
    height: 20px;
}
.ship-preview-rotate-0 {
    position: absolute;
    right: 5px;
    top: 65px;
}
.ship-preview-rotate-60 {
    position: absolute;
    right: 20px;
    top: 20px;
}
.ship-preview-rotate-120 {
    position: absolute;
    left: 20px;
    top: 20px;
}
.ship-preview-rotate-180 {
    position: absolute;
    left: 5px;
    top: 65px;
}
.ship-preview-rotate-240 {
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.ship-preview-rotate-300 {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.board-ships {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 90px;
    display: flex;
    flex-wrap: wrap;
}
.ship-board {
    background: #969696;
    height: 50px;
    margin: 0 5px;
    padding: 2px;
    width: 160px;
}
.ship-board-large {
    height: 225px;
}
.ship-board-header {
    margin: -2px -2px 2px -2px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}
.ship-board-energy-input {
    width: 40px;
    text-align: right;
}
.ship-board-resources {
    display: flex;
    justify-content: space-between;
}
.ship-board-cards {
    display: flex;
    flex-wrap: wrap;
}

.board-finish-planning {
    position: absolute;
    top: 100px;
    left: 20px;
    background: #f0f8ff;
    padding: 7px 15px;
}

.laser {
    position: absolute;
    display: flex;
}
.laser-1 div {
    background-color: #FF0000;
}
.laser-2 div {
    background-color: #044b00;
}
.laser-main {
    width: 16px;
    height: 2px;
}
.laser-tail {
    margin-right: 2px;
    width: 2px;
    height: 2px;
}

.board-controls {
    position: absolute;
    top: 100px;
    right: 0;
    background: #f0f8ff;
    padding: 7px;
}

.board-controls button {
    width: 40px;
}

.card-too-expensive {
    background: #ff9393;
}